body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.low {
	font-size: 1.5em;
}

.high {
	font-size: 3em;
}

#board {
	width: 400px;
	height: 300px;
	border: 3px solid blue;
	margin: 8px;
	display: none;
}

.choice {
	border: 2px dashed orange;
	width: 120px;
	margin: 5px;
	display: inline;
}

.choices {
	display: none;
}